.popup__form-item {
    width: 100%;
    margin: 30px auto 0;
    padding: 0 0 9px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: "Inter", Arial, sans-serif, "Helvetica Neue";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    font-style: normal;
    color: #000;
    box-sizing: border-box;
}

.popup__form-item:first-child {
    margin-top: 0;
}

@media screen and (max-width: 700px) {
    .popup__form-item {
        width: 238px;
    }
}